<%- include('components/navbar') %>

<div class="container">
  <h1>Models</h1>
  <p>Explore the available models below.</p>

  <div class="row">
    <% models.forEach(model => { %>
      <div class="col-md-4">
        <%- include('components/card', {
          item: {
            heading: model.heading,
            author: model.author,
            retrieval_link: model.retrieval_link,  // External link if provided
            localLink: `/models/${model.id}`,  // Local link for individual model page
            imageUrl: model.imageUrl || '/img/default.jpg'  // Use default image if none is provided
          }
        }) %>
      </div>
    <% }); %>
  </div>
</div>
