<%- include('components/navbar') %>

<head>
    <link rel="stylesheet" href="/css/pages/upload-datasets.css">
</head>

<div class="container mt-5">
    <h1 class="mb-4">Upload a New Dataset</h1>
    <form action="/datasets/upload" method="post" enctype="multipart/form-data">
        <!-- Mandatory Fields -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="heading">Heading (Name):</label>
                    <input type="text" id="heading" name="heading" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author" class="form-control" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="retrieval_link">Retrieval Link:</label>
                    <input type="text" id="retrieval_link" name="retrieval_link" class="form-control" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="zipFile">Upload ZIP File:</label>
                    <input type="file" id="zipFile" name="zipFile" class="form-control-file" accept=".zip" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="image">Upload Image (Optional):</label>
                    <input type="file" id="image" name="image" class="form-control-file">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control" rows="4"></textarea>
        </div>

        <!-- Optional Fields -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="purposes">Purposes:</label>
                    <input type="text" id="purposes" name="purposes" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="task_type">Task Type:</label>
                    <input type="text" id="task_type" name="task_type" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="source">Source:</label>
                    <input type="text" id="source" name="source" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataset_size">Dataset Size:</label>
                    <input type="text" id="dataset_size" name="dataset_size" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="data_format">Data Format:</label>
                    <input type="text" id="data_format" name="data_format" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="license">License:</label>
                    <input type="text" id="license" name="license" class="form-control">
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Upload Dataset</button>
        </div>
    </form>
</div>
