<head>
  <link rel="stylesheet" href="../css/components/error.css">
</head>

<div id="error-box" class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p>
    <%= errorMessage %>
  </p>
</div>

<script>
  setTimeout(function () {
    var errorBox = document.getElementById('error-box');
    if (errorBox) {
      errorBox.style.display = 'none';
    }
  }, 4000);
</script>
