@import url('../global.css'); /* Link to the global CSS */

/* Card Component Styles */
.card {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    border-bottom: 1px solid var(--primary-color);
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: var(--accent-color);
    font-size: 1.25em;
    margin-bottom: 15px;
}

.card-text {
    color: var(--text-color);
    margin-bottom: 15px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--accent-color);
}

.btn-secondary {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
}
